    <div class="container">
        <div class="form-padding m-top-10">
            <div class="col s12">
                <div class="card  hoverable centered-form">
                    <div class="card-content">
                        <span class="card-title center valign-wrapper teal-text lighten-2-text">Change your password</span>
                        <br />

                       <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
 
                       <div class="input-field col password required user_password">
                           <%= f.password_field :password, autocomplete: "new-password" %>
                           <%= f.label :password %><br />
                        </div>

                         <div class="input-field col password required user_password">
                           <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                           <%= f.label :password_confirmation %><br />
                        </div>
                      
                        <div class="form-actions center">
                          <%= f.submit "Change my passwordd", class: "btn"%>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <center class="m-bottom-5 m-top-2">
          <%= link_to "Sign up", new_registration_path(resource_name), class: "teal-text lighten-2-text center-align" %> <br />
          <%= link_to "Log in", new_session_path(resource_name), class: "teal-text lighten-2-text center-align"%>
  </center>





