
<nav class="teal lighten-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left-align m-left-5"><i class="material-icons hide-on-med-and-down">account_balance</i>Investy</a>

      <% if user_signed_in? %>

        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down m-right-5">
              <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1"> <i class="material-icons">account_circle</i>
            </a>
          </li>
          </ul>
      <ul class="sidenav" id="mobile-demo">
        <li> <%= link_to "Stocks", root_path %></li>
        <li><%= link_to "Account details", edit_user_registration_path %><li>
        <li><%= link_to 'Sign out', destroy_user_session_path,:method => :delete%></li>
      </ul>

      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to "Account", edit_user_registration_path %><li>
        <%= link_to 'Sign out', destroy_user_session_path,:method => :delete%>
      </ul>
        <% end %>

      
   

    </div>
  </nav>

      

        